:root.theme_light {
  --main-text-color: #353430;
  --title-text-color: #ffc2e6;
  --section-title-text-color: #353430;
  --subsection-text-color: #353430;
  --background-text-color: #ff8dcb;
  --background-color: #f1b2ce;
  --hover: #32312d66;
  --link-color: #ff8dcb;
  --decorated-zone-color: #353430;
  --font-family: 'IBM Plex Mono', monospace;
  --font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --main-font-size: 18px;
  --main-line-height: 23.4px;
  --title-line-height: 82.5%;
  --decor-line-height: 25px;
  --button-line-height: 18px;
}

.page.theme_light .lamp {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: #353430;
    --title-text-color: #ffc2e6;
    --section-title-text-color: #353430;
    --subsection-text-color: #353430;
    --background-text-color: #ff8dcb;
    --background-color: #f1b2ce;
    --hover: #32312d66;
    --link-color: #ff8dcb;
    --decorated-zone-color: #353430;
    --font-family: 'IBM Plex Mono', monospace;
    --font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --font-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --main-font-size: 18px;
    --main-line-height: 23.4px;
    --title-line-height: 82.5%;
    --decor-line-height: 25px;
    --button-line-height: 18px;
  }

  .lamp {
    display: none;
  }
}

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
  --main-text-color: #353430;
  --title-text-color: #ffc2e6;
  --section-title-text-color: #353430;
  --subsection-text-color: #353430;
  --background-text-color: #ff8dcb;
  --background-color: #f1b2ce;
  --hover: #32312d66;
  --link-color: #ff8dcb;
  --decorated-zone-color: #353430;
  --font-family: 'IBM Plex Mono', monospace;
  --font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --main-font-size: 18px;
  --main-line-height: 23.4px;
  --title-line-height: 82.5%;
  --decor-line-height: 25px;
  --button-line-height: 18px;
}
